<ui-gmap-google-map
    center='vm.map.center'
    zoom='vm.map.zoom'
    aria-label="Google map"
    events="vm.map.events">
    <ui-gmap-marker ng-repeat="marker in vm.markers"
      coords="marker.coords" idkey="marker.$$hashKey" click="vm.markerClick(marker)">
      <ui-gmap-window>
        <md-content>
          <div>{{marker.name}}</div>
          <div layout="row" layout-sm="column" layout-align="space-around" ng-class="{progressHide:marker.geoInfo}">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
          <div>{{marker.geoInfo}}</div>
        </md-content>
      </ui-gmap-window>
    </ui-gmap-marker>
    <ui-gmap-polyline path='vm.polyline.path'
                  stroke='vm.polyline.stroke'
                  clickable='false'
                  editable='vm.polyline.editable'
                  fit='vm.polyline.fit'>
</ui-gmap-polyline>
</ui-gmap-google-map>
