<md-content>
  <md-list class="list" sv-root sv-part="vm.points" sv-on-sort="vm.onSort()">
    <md-card  ng-repeat="point in vm.points" sv-element>
      <md-card-content layout="row">
          <md-input-container flex="30">
            <label>Название точки</label>
            <input ng-model="point.name"></input>
          </md-input-container>
          <md-input-container flex="30">
            <label>latitude</label>
            <input type="number" step="0.0001" ng-model="point.coords.latitude"></input>
          </md-input-container>
          <md-input-container flex="30">
            <label>longitude</label>
            <input type="number" step="0.0001" ng-model="point.coords.longitude"></input>
          </md-input-container>
          <md-button class="md-icon-button" ng-click="vm.onDeleteClick(point)">
            <i class="mdi mdi-close"></i>
          </md-button>
        </md-card-content>
    </md-card>
    <md-button class="md-fab" ng-click="vm.addPoint()">
      <i class="mdi mdi-plus-circle"></i>
    </md-button>
  </md-list>
<md-content>
